# 1. Data Preperation, Preprocessing and Cleaning

## 1.1 Import Libraries and Load Datasets

In [40]:
import pandas as pd
import numpy as np
import math
import utm
import requests

In [41]:
df = pd.read_excel("Households_Data.xlsx", sheet_name='Hogares')

In [42]:
dictionary = pd.read_excel("Households_Data.xlsx", sheet_name='Dictionary')

## 1.2 Identify Column Data Types

Knowing the type of data in each column not only helps one understand the data better, but is also important to selecting the suitable machine learning algorithms later. In this section, we would like to take a closer look at the `dictionary` dataset, and identify which columns are categorical data and which are continuous data from its descriptions.

In [43]:
dictionary

,Variable,Description,Used in Model?
0,Hogar,ID of Household,NaN
1,EXCLUIR,Exclude from estimation,NaN
2,paraValidacion,sample for validation,NaN
3,Sector,Exogenous sector (7 sectors used for exogenous...,YES (Segmentation in Exogenous Zones Model)
4,DirCoordX,UTM coordinate X,NaN
5,DirCoordY,UTM coordinate Y,NaN
6,MontoArr,Monthly dwelling rent (Chilean Peso),YES (Likelihood function)
7,IngresoHogar,Household income (Chilean Peso),NaN
8,Factor,Expansion factor of household in survey,NaN
9,AnosEstudio,Years of formal Education of head of household,NaN
10,CLASE,1 : less than 12 years ; 2 : between 12 and 15...,YES (Likelihood function)
11,Sup_Prom_Constr_Hab_EOD,Average Built surface of residential units in ...,YES (DP function)
12,Calid_EOD_norm_inv,Average Construction Quality of residential un...,NaN
13,DensConstr_EOD,Built density in zone (built surface divided b...,YES (Segmentation function in Latent class mod...
14,Dist_est_Metro_MC_KM,Distance to nearest subway station (km),YES (DP function)
15,Dist_salida_Autop_MC_KM,Distance to nearest highway exit (km),YES (DP function)
16,Tiempo_Com_Stgo,travel time to CBD (min),YES (DP function)
17,Ingreso_Promedio_Zona_MM,Average zonal income (Million Chilean Peso),YES (Segmentation function in Latent class mod...
18,Acc_Comercio_tpte_pub,Accesibility to Commerce in transit,YES (DP function)
19,Acc_Educacion_tpte_pub,Accesibility to Education in transit,NaN
20,Acc_Habitacion_tpte_pub,Accesibility to habitational in transit,NaN
21,Acc_Industria_tpte_pub,Accesibility to Industry in transit,YES (DP function)
22,Acc_Servicios_tpte_pub,Accesibility to Services in transit,NaN
23,Acc_Comercio_auto,Accesibility to Commerce in car,NaN
24,Acc_Educacion_auto,Accesibility to Education in car,NaN
25,Acc_Habitacion_auto,Accesibility to habitational in car,NaN
26,Acc_Industria_auto,Accesibility to Industry in car,NaN
27,Acc_Servicios_auto,Accesibility to Services in car,NaN
28,CLUSTER7,Cluster clasification (7 clusters),YES (Segmentation in 7 cluster model)
29,CLUSTER2,Cluster clasification (2 clusters),YES (Segmentation in 2 cluster model)

From the description column, we would make an informed guess about which columns are categorical and which are continuous.
<br>
<br>
Our guess is `{Hogar, EXCLUIR, paraValidacion, Sector, CLASE, CLUSTER7, CLUSTER2}` are categorical.

In [44]:
categorical_1=['Hogar', 'EXCLUIR', 'paraValidacion', 
               'Sector', 'CLASE', 'CLUSTER7', 'CLUSTER2']

From the description of the dataset, it is not always easy to distinguish categorical features from continuous ones. Therefore, we decide to examine the unique values in the dataset.
<br>
<br>
This is based on the idea that the number of unique values in a column would, in general (not always), indicates whether that column is of categorical data type or continuous data type.

In [45]:
for c in df.columns:
    print(c + " has " + str(df[c].nunique()) + " unique values")

Hogar has 18264 unique values
EXCLUIR has 2 unique values
paraValidacion has 2 unique values
Sector has 7 unique values
DirCoordX has 16940 unique values
DirCoordY has 16930 unique values
MontoArr has 4432 unique values
IngresoHogar has 12905 unique values
Factor has 6433 unique values
AnosEstudio has 23 unique values
CLASE has 4 unique values
Sup_Prom_Constr_Hab_EOD has 452 unique values
Calid_EOD_norm_inv has 7 unique values
DensConstr_EOD has 421 unique values
Dist_est_Metro_MC_KM has 16952 unique values
Dist_salida_Autop_MC_KM has 16952 unique values
Tiempo_Com_Stgo has 98 unique values
Ingreso_Promedio_Zona_MM has 789 unique values
Acc_Comercio_tpte_pub has 631 unique values
Acc_Educacion_tpte_pub has 631 unique values
Acc_Habitacion_tpte_pub has 631 unique values
Acc_Industria_tpte_pub has 631 unique values
Acc_Servicios_tpte_pub has 631 unique values
Acc_Comercio_auto has 637 unique values
Acc_Educacion_auto has 635 unique values
Acc_Habitacion_auto has 637 unique values
Acc_Industria_auto has 636 unique values
Acc_Servicios_auto has 636 unique values
CLUSTER7 has 7 unique values
CLUSTER2 has 2 unique values

After observing the number of unique values in each column, we update our list of categorical features and it now includes: `{EXCLUIR, paraValidacion, Sector, CLASE, Calid_EOD_norm_inv, CLUSTER7, CLUSTER2}` are categorical.

In [46]:
categorical_2=['EXCLUIR', 'paraValidacion', 'Sector', 'CLASE', 
               'Calid_EOD_norm_inv', 'CLUSTER7', 'CLUSTER2']

For columns that appear in both `categorical_1` and `categorical_2 lists`, we will take them as categorical data. We will take a closer look at the rest of the columns that only appear in one of the lists.

In [47]:
# in categorical_1 but not in categorical_2
set(categorical_1)-set(categorical_2)

{'Hogar'}

`Hogar` is the housing ID which is by definition categorical but we will omit it because ID is just a serial number which will not add insight in the predictive analysis

In [48]:
# in categorical_2 but not in categorical_1
set(categorical_2)-set(categorical_1)

{'Calid_EOD_norm_inv'}

In [49]:
df['Calid_EOD_norm_inv'].unique().tolist()

[0.98, 1.0, 0.78, 0.93, 0.36, 0.55, 0.0]

It seems that `Calid_EOD_norm_inv` is continuous. Indeed, from the description it can be seen that Average Construction Quality should indeed be a continuous feature. Thus, we treat this column as continuous.

In [50]:
categorical = set(categorical_1 + categorical_2)
categorical -= {'Hogar','Calid_EOD_norm_inv'}

Thus, we reach the conclusion that the following columns are categorical:

In [51]:
categorical

{'CLASE', 'CLUSTER2', 'CLUSTER7', 'EXCLUIR', 'Sector', 'paraValidacion'}

The rest of the columns are thus continuous

## 1.3 Drop Irrelevant Columns

After close inspection on the variable descriptions, we decided to remove columns which have limited contribution to the prediction task. We will remove:

* `Hogar`, as it is just the ID of the data entries
* `EXCLUIR`, as it seems to be used for an estimation which is not specified here, perhaps for some other study purposes.
* `paraValidacion`, as it seems to be used for validation for some other studies, which makes this column have little relevance to our task.

In [52]:
df = df.drop(['Hogar','EXCLUIR', 'paraValidacion'], axis=1)

## 1.4 Rename Columns

The current column names are difficult to understand, so we rename them.

In [53]:
df = df.rename(columns={'Sector': 'exogenous_sector', 
                   'DirCoordX' : 'UTM_East',
                   'DirCoordY' : 'UTM_North', 
                   'MontoArr' : 'monthly_rent',
                   'IngresoHogar' : 'household_income', 
                   'Factor' : 'survey_factor',
                   'AnosEstudio' : 'education_years', 
                   'CLASE' : 'type',
                   'Sup_Prom_Constr_Hab_EOD': 'built_surface',
                   'Calid_EOD_norm_inv' : 'construction_quality',
                   'DensConstr_EOD' : 'build_density', 
                   'Dist_est_Metro_MC_KM' : 'subway_dis',
                   'Dist_salida_Autop_MC_KM' : 'highway_dis', 
                   'Tiempo_Com_Stgo' : 'time_CBD',
                   'Ingreso_Promedio_Zona_MM' : 'avg_zone_income',
                   'Acc_Comercio_tpte_pub' : 'commerce_transit', 
                   'Acc_Educacion_tpte_pub' : 'eduction_transit',
                   'Acc_Habitacion_tpte_pub' : 'habitational_transit', 
                   'Acc_Industria_tpte_pub' : 'industry_transit',
                   'Acc_Servicios_tpte_pub' : 'service_transit',
                   'Acc_Comercio_auto' : 'commerce_car',
                   'Acc_Educacion_auto' : 'education_car',
                   'Acc_Habitacion_auto' : 'education_car',
                   'Acc_Habitacion_auto' : 'habitational_car',
                   'Acc_Industria_auto' : 'industry_car',
                   'Acc_Servicios_auto' : 'service_car',
                   'CLUSTER7' : 'cluster_7',
                   'CLUSTER2' : 'cluster_2'
                  })

Lastly, we need to update our categorical list.

In [54]:
# update categorical list
print("original : ")
print(categorical)
categorical = ['type', 'cluster_2', 'cluster_7', 'exogenous_sector']
print("updated : ")
print(categorical)

original :
{'EXCLUIR', 'CLUSTER2', 'paraValidacion', 'CLUSTER7', 'Sector', 'CLASE'}
updated :
['type', 'cluster_2', 'cluster_7', 'exogenous_sector']

## 1.5 Handle Missing Values
Check if the dataset contains any missing value in its entries, and handle these missing values if they exist.

In [55]:
# check for NaNs
for column in df.columns:
    print("column {} has {} null value".format(column, df[column].isnull().sum().sum()))

column exogenous_sector has 0 null value
column UTM_East has 0 null value
column UTM_North has 0 null value
column monthly_rent has 0 null value
column household_income has 0 null value
column survey_factor has 0 null value
column education_years has 0 null value
column type has 0 null value
column built_surface has 0 null value
column construction_quality has 0 null value
column build_density has 0 null value
column subway_dis has 0 null value
column highway_dis has 0 null value
column time_CBD has 0 null value
column avg_zone_income has 0 null value
column commerce_transit has 0 null value
column eduction_transit has 0 null value
column habitational_transit has 0 null value
column industry_transit has 0 null value
column service_transit has 0 null value
column commerce_car has 0 null value
column education_car has 0 null value
column habitational_car has 0 null value
column industry_car has 0 null value
column service_car has 0 null value
column cluster_7 has 0 null value
column cluster_2 has 0 null value

It can be seen from the result above that this dataset does not have any missing value. Thus no missing data handling/imputation is needed.

## 1.6 Standardize Currency Units
`avg_zone_income` is in Million Chilean Peso. However, `monthly_rent` and `household_income` are in Chilean Peso. We would like to standardize `avg_zone_income` to Chilean Peso.

In [56]:
df['avg_zone_income'] =  df['avg_zone_income'] * 1000000

## 1.7 Utilize Coordinate Data
The coordinate data given in the data set is in UTM format. It is of little help to us because it only pinpoints the geographical location of each data point. We have to quantify it into some more useful information such that it can be used as a feature into any machine learning algorithm.

For example, one way is to obtain the distance between a location and the city center.

In order to obtain the distance, we resort to Google Maps API. Unfortunately, Google Maps API does not support UTM format. Thus, we need to convert UTM into latitude and longitude information. Luckily, Python has a package named `utm` that helps us do the job (https://github.com/Turbo87/utm).

### 1.7.1 Convert UTM Format To Lat/Lon Format

We define a function to convert UTM format to Lat/Lon format.

Since the dataset does not contain zone and latitude band information for Santiage, we read up online (https://www.gps-latitude-longitude.com/gps-coordinates-of-santiago-de-chile) and learn that the zone is 19 and latitude band is 'H'.

In [57]:
def getLatLon(east, north):
    return utm.to_latlon(east, north, 19, 'H')

Again, we define a function to extract lat/lon information and store this information into two new columns, `latitude` and `longitude`.

In [58]:
def LatLonColumns():
    res=[]
    east=df.UTM_East.tolist()
    north=df.UTM_North.tolist()
    for i in range(len(east)):
        res.append(getLatLon(east[i],north[i]))
    return res

In [59]:
res = LatLonColumns()
latitude = list(map(lambda x : x[0], res))
longitude = list(map(lambda x : x[1], res))

In [60]:
df['latitude'] = latitude
df['longitude'] = longitude

With latitude and longtitude information, we do not need UTM information any more.

In [61]:
df = df.drop(['UTM_East', 'UTM_North'], axis = 1)

### 1.7.2 Obtain Distance to City Center with Google Maps API

In order to get the latitude and longitude information of the city center, we search for Santiago, Chile on Google Maps (https://www.google.dk/maps/place/Santiago,+Santiago+Metropolitan+Region,+Chile/@-33.4724228,-70.7699155,11z/data=!3m1!4b1!4m13!1m7!3m6!1s0x9662c5410425af2f:0x8475d53c400f0931!2sSantiago,+Santiago+Metropolitan+Region,+Chile!3b1!8m2!3d-33.4488897!4d-70.6692655!3m4!1s0x9662c5410425af2f:0x8475d53c400f0931!8m2!3d-33.4488897!4d-70.6692655) and use the coordinates of the search result as the location of the city center. Its latitude is -33.446896, and longitude is -70.673124.

Next, our group uses Google Maps API to obtain: 
1. Distance between each housing to the city center, by driving, and 
2. Time taken to do so

In [62]:
# Google map api key
APIKey="your api here"

We define a function which takes in latitude and longitude of a place and returns the distance and duration to travel to city center of Santiago by car.

In [63]:
def getDisDur(lat,lon):
    response = requests.get('https://maps.googleapis.com/maps/api/distancematrix/json',
                            params={'units': 'metric',
                                    'origins' : str(lat) + ',' + str(lon),
                                    'destinations' : '-33.446896,-70.673124',
                                    'key' : APIKey})
    data=response.json()['rows'][0]['elements'][0]
    distance=data['distance']['value']
    duration=data['duration']['value']
    return (distance, duration)

The function below runs API calls thousands of time, we store the data requested into dataframe. As such, the function below only needs to be run once.

In [64]:
# def DisDurCol():
#     latitude=df.latitude.tolist()
#     longitude=df.longitude.tolist()
#     res=[]
#     for i in range(len(latitude)):
#         res.append(getDisDur(latitude[i],longitude[i]))
#         if i % 1000 == 0:
#             print(i)
#     return res
# res=DisDurCol()

We extract distance and time taken data and store in corresponding columns.

In [65]:
# df['Distance_CityCenter']=list(map(lambda x : x[0], res))
# df['Time_taken']=list(map(lambda x : x[1], res))

Export the cleaned dataset into csv. Next time, we will just load this csv file.

In [66]:
# df.to_csv("cleaned_data.csv")

### 1.7.3 Test to Load csv

In [67]:
df_test=pd.read_csv("cleaned_data.csv", index_col = 0)

In [68]:
df_test.head()

,ID,exogenous_sector,monthly_rent,household_income,survey_factor,education_years,type,built_surface,construction_quality,build_density,...,education_car,habitational_car,industry_car,service_car,cluster_7,cluster_2,latitude,longitude,Distance_CityCenter,Time_taken
0,100010,7,100000,450845,136.393738,11,1,53.8,0.98,0.059,...,1781.81,30505.65,2853.19,3058.03,3,1,-33.729444,-70.779035,38682,2415
1,100020,7,120000,1019369,73.843597,11,1,59.6,0.98,0.033,...,1781.81,30505.65,2853.19,3058.03,3,1,-33.737278,-70.744340,35583,2056
2,100030,7,70000,80000,180.722809,10,1,59.5,0.98,0.004,...,1781.81,30505.65,2853.19,3058.03,3,1,-33.805994,-70.859656,53214,3104
3,100041,7,80000,559259,150.379059,14,2,59.5,0.98,0.004,...,1781.81,30505.65,2853.19,3058.03,3,1,-33.805995,-70.859654,53214,3104
4,100052,7,117771,710309,122.001518,12,2,43.6,0.98,0.086,...,1781.81,30505.65,2853.19,3058.03,3,1,-33.722055,-70.743270,36504,2099

# 2. Exploratary Data Analysis (EDA)

## 2.1 Summary Statistics

In [69]:
df_test.describe()

,ID,exogenous_sector,monthly_rent,household_income,survey_factor,education_years,type,built_surface,construction_quality,build_density,...,education_car,habitational_car,industry_car,service_car,cluster_7,cluster_2,latitude,longitude,Distance_CityCenter,Time_taken
count,18264.000000,18264.000000,1.826400e+04,1.826400e+04,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,...,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000,18264.000000
mean,193030.230672,3.821288,1.915436e+05,6.882743e+05,112.314389,9.776555,-0.321124,50.352858,0.640918,0.383019,...,3389.102833,58147.204716,5073.627695,6307.223734,3.899365,1.152541,-33.495396,-70.673004,18280.069536,1483.320905
std,56198.257546,1.947325,1.642392e+05,7.287777e+05,74.540944,16.400822,14.556300,23.019691,0.353851,0.461823,...,857.208576,14062.171453,1298.025692,1930.571354,1.538586,0.359554,0.096568,0.110020,11879.120285,581.581882
min,100010.000000,1.000000,1.000000e+04,0.000000e+00,5.151379,-99.000000,-99.000000,0.000000,0.000000,0.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,1.000000,1.000000,-33.810955,-71.321708,200.000000,48.000000
25%,145647.750000,2.000000,1.136745e+05,3.000000e+05,67.999544,10.000000,1.000000,39.100000,0.360000,0.177000,...,3062.360000,53163.070000,4508.790000,5091.160000,2.000000,1.000000,-33.563749,-70.728089,9865.000000,1093.000000
50%,192085.500000,4.000000,1.500000e+05,5.078265e+05,94.457756,12.000000,2.000000,45.800000,0.780000,0.256000,...,3538.740000,61218.910000,5267.610000,6452.625000,5.000000,1.000000,-33.488603,-70.657311,16539.500000,1400.000000
75%,237732.750000,6.000000,2.000000e+05,8.411012e+05,133.587433,14.000000,2.000000,58.000000,0.980000,0.363000,...,3989.947500,68388.830000,5980.780000,7699.100000,5.000000,1.000000,-33.430608,-70.596949,23773.000000,1803.000000
max,743823.000000,7.000000,5.000000e+06,1.480000e+07,927.142761,24.000000,3.000000,207.300000,1.000000,4.599000,...,4681.260000,75774.780000,7260.030000,10000.680000,7.000000,2.000000,-33.177505,-70.286672,100074.000000,5279.000000

# 3. Define functions for fitted model
(Logistic Regression/KNN/Linear Regression)

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier

In [2]:
def logistic_reg_model(X_train, X_test, y_train):
    
    classifier = LogisticRegression()
    classifier.fit(X_train,y_train)
    y_pred1 = classifier.predict(X_test)
    
    return y_pred1

In [3]:
def linear_regression(X_train, X_test, y_train):
    
    classifier = LinearRegression()
    classifier.fit(X_train,y_train)
    y_pred2 = classifier.predict(X_test)
    
    return y_pred2

In [4]:
def knn_model(X_train, X_test, y_train, n):
    
    classifier = KNeighborsClassifier(n_neighbors = n)
    classifier.fit(X_train,y_train)
    y_pred3 = classifier.predict(X_test)
    
    return y_pred3